# -*- coding: utf-8 -*-
<div id="search">
<form method="GET" enctype="multipart/form-data" action="/search/detailed" accept-charset="UTF-8">
<label for="q" class="searchterm">Search term</label>
% if c.q and c.q != "*:*":
<input id="q" type="text" name="q" value="${c.q}"/>
% else:
<input id="q" type="text" name="q" placeholder="search data packages"/>
% endif
<input type="submit" value="Search"/><br/>
<fieldset>
% if c.typ and 'silo' in c.typ:
<label for="s_silo">Silo </label>
<input type="radio" id="s_silo" name="type" value="silo" checked="checked"/> 
% else:
<label for="s_silo">Silo</label>
<input type="radio" id="s_silo" name="type" value="silo"/>
% endif
% if c.typ and 'dataset' in c.typ:
<label for="s_dataset">Data packages</label>
<input type="radio" id="s_dataset" name="type" value="dataset" checked="checked"/>
% else:
<label for="s_dataset">Data packages</label>
<input type="radio" id="s_dataset" name="type" value="dataset" />
% endif
% if c.typ and 'item' in c.typ:
<label for="s_item">File names</label>
<input type="radio" id="s_item" name="type" value="item" checked="checked"/>
% else:
<label for="s_item">File names</label>
<input type="radio" id="s_item" name="type" value="item" />
% endif
% if c.typ and 'all' in c.typ:
<label for="s_all">Any</label>
<input type="radio" id="s_all" name="type" value="all" checked="checked"/>
% else:
<label for="s_all">Any</label>
<input type="radio" id="s_all" name="type" value="all"/>
% endif
</fieldset>
<input type="hidden" name="fl" value="*,score"/>
<input type="hidden" name="format" value="html"/>
</form>
</div>
